@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.prose {
  width: 100%;
}

.prose :is(h2, h3, h4, h5, h6) {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-block: 1rem;
}

.prose p + pre {
  margin-block: 1rem;
}

.prose :is(ul, ol) {
  list-style-type: decimal;
  padding-inline-start: 2rem;
  border-radius: 8px;
  background-color: rgb(21, 30, 29);
  color: #fff;
  width: 100%;
  overflow-x: scroll;
}

.prose ul:not(li > ul) {
  padding-block: 1rem;
  padding-right: 1rem;
}

.prose ol:not(li > ol) {
  padding-block: 1rem;
  padding-right: 1rem;
}

.prose :is(ul, ol) li {
  margin-block: 0.5rem;
  padding-inline-start: 0.25rem;
}

.prose :is(ul) li {
  list-style-type: disc;
}

.prose pre {
  max-inline-size: 100%;
  padding: 1rem;
  border-radius: 8px;
  tab-size: 2;
  overflow-x: scroll;
}

.prose table,
.prose td,
.prose th {
  border: 1px solid;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
}

.prose td {
  padding: 0.7rem;
}

.prose .mermaid {
  border: 1px solid grey;
  margin-block: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prose #table-of-contents + ul p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-block: 0;
}

.er.relationshipLabelBox {
  opacity: 100% !important;
  fill: transparent !important;
}

.er.relationshipLabel {
  @apply dark:fill-white !text-base;
}

.er.entityLabel {
  @apply !text-base;
}

.pagination {
  @apply flex items-center gap-3;
}

.pagination > a {
  @apply p-3 hover:text-emerald-300;
}
